.container{
    width: 100%;
    height: 915px;
    border-radius: 10px;
}
.encabezado-padre{
    width: 100%;
    height: 100px;
    background-color: rgb(185, 167, 180);
    border-radius: 5px;
    display: flex;
    flex-direction:row;
    align-items: flex-start;

}
h2{
    color: white;
    font-size: 20px;
    padding-left: 10px;
}

.encabezado-izquierda{
    width: 30%;
    height: 50px;
    flex-direction: column;
    align-items: flex-start;
    

}

.negrita{
    color: black;
    font-size: 20px;
    margin-left: 3%;

}
.logo{
    width: 40%;
    height: 27px;
    background-color: navy;
    border-top: 10px;
    border-bottom: 10px;
    padding-left: 1px;
    margin-left: 5%;
}

.encabezado-derecha{
    width: 100%;
    height: 100px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;


}
.menu1{
    width: 48%;
    height: 40px;
    background-color: green;
    margin-left: 50%;
  
}
.menu2{
    width: 90%;
    height: 40px;
    background-color: brown;
    margin-left: 8%;
    
  
}
.cuerpo-padre{
    width: 100%;
    height: 710px;
   
}
.padre1{
    width: 100%;
    height:350px;
    margin-top: 2px;
    margin-bottom: 10px;
    display: flex;
    justify-content: space-between;


}
.div-standar{
    width: 30%;
    height: 350px;
    border-radius: 10px;
    
}
.izquierda{
    background-color: rgb(56, 52, 52);
}
.centro{
    background-color: lightseagreen;
}
.derecha{
    background-color: orange;
    width: 30%;
}

.div-izquierda2{
    width: 65%;
    height: 350px;
    background-color: green;    
    border-radius: 10px;
}

.div-derecha2{
    width: 30%;
    height: 350px;
    background-color: brown;
    border-radius: 10px;
}

.padre-pie{
    width: 100%;
    height: 120px;
    background-color: lightskyblue;
    border-radius: 10px;
    display: flex;
    margin-top: 10px;
    align-items: center;
    justify-content: flex-start;

}
.negrita-pie{
    font-size: 20px;
    color: black;
}

.elemento{
    width: 20%;
    height: 40px;
    background-color: blue;
    margin-right: 3%;
    padding-bottom: 1%;
    text-align: center;
    margin-left: 70%;
}